.App {
  text-align: center;
  padding: 25px;
}

.Swatch {
  height: 500px;
  width: 500px;
  margin: auto;
}

.Options {
  margin: 25px auto;
    display: flex;
    justify-content: center;
    width: 500px;
    flex-wrap: wrap;
    gap: 20px;
}
